@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

#hero{
  background-image: url(./images/independence.jpg);

}
#bg2{
  background-image: url(./images/people\ wey\ plenty.jpeg);

}
#bg3{
  background-image: url(./images/one-person.jpeg);
background-size: contain;
}